{%extends 'base.html'%}
{%block data%}
<style>
    .btn{
        margin: 13px 0px 0px 48px;
        width: 193px;
        height: 39px;
        border-radius: 10px;
        background-image:linear-gradient(to bottom right,#DFF2FF, #77C5F7, #0098FB);
        font-size: 20px;
        font-family:cursive;
        color:darkblue;
    }
    .btn:hover{
        background-image:linear-gradient(to top left,#DFF2FF, #77C5F7, #0098FB);

    }
    .login{
        background-color: #27403E;
        border: 2px solid #27403E;
        border-radius: 10px;
        width: 300px;
        height: 250px;
        margin: 98px 0px 0px 157px;
        padding: 118px 0px 0px 16px;
        box-shadow: 15px 15px 10px rgb(247, 254, 255 );
        cursor: pointer;
    }
    .login:hover{
        transform: translate(20px,20px);
    }
    input{
        border: 2px solid white;
        border-radius: 10px;
        margin: 5px 0px 0px 45px;
        width:200px;
        height: 35px;
        background-color: white;
    }
</style>
<h1></h1>
<h1 style="color:crimson; font-family:inherit">{{msg}}</h1>
    <div class="login">
        <form method="POST">
            {%csrf_token%}
        
                <input type="text" name="uname" placeholder="Name"><br>
           
                <input type="password" name="passw" placeholder="Password"><br>
           
                <input type="submit" value="Login" class="btn">
        </form>
    </div>
{%endblock%}